body {
  background-color: #ECF0F1;
}

#app-title {
  color: #2C3E50;
  font-size: 3em;
  font-family: "Bitter", serif;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#search-row .btn.btn-primary {
  background-color: #2C3E50;
}

#search-bar {
  padding-bottom: 10px;
}

#random-btn {
  width: 100%;
  height: 45px;
  background-color: #E74C3C;
  color: white;
  font-size: 1.6em;
}

#random-btn:active {
  background-color: #A6372B;
}


/* RESULT LIST */
#result-list {
  list-style: none;
  padding: 0;
}

#result-list li {
  margin-top: 5px;
  padding: 2px 0 10px 20px;
  background: white;
  border-radius: 5px;
}

#result-list li p {
  padding-right: 20px;
}

#result-list li:hover {
  animation: hover 0.1s forwards;
}

@keyframes hover {
  0% {
    -webkit-box-shadow: 0px 0px 2px 0px #2C3E50;
    -moz-box-shadow: 0px 0px 2px 0px #2C3E50;
    box-shadow: 0px 0px 2px 0px #2C3E50;
    margin: 2px 1px 2px 1px;
  }
  25% {
    -webkit-box-shadow: 0px 0px 4px 0px #2C3E50;
    -moz-box-shadow: 0px 0px 4px 0px #2C3E50;
    box-shadow: 0px 0px 4px 0px #2C3E50;
    margin: 4px 2px 4px 2px;
  }
  50% {
    -webkit-box-shadow: 0px 0px 6px 0px #2C3E50;
    -moz-box-shadow: 0px 0px 6px 0px #2C3E50;
    box-shadow: 0px 0px 6px 0px #2C3E50;
    margin: 6px 3px 6px 3px;
  }
  75% {
    -webkit-box-shadow: 0px 0px 8px 0px #2C3E50;
    -moz-box-shadow: 0px 0px 8px 0px #2C3E50;
    box-shadow: 0px 0px 8px 0px #2C3E50;
    margin: 8px 4px 8px 4px;
  }
  100% {
    -webkit-box-shadow: 0px 0px 10px 0px #2C3E50;
    -moz-box-shadow: 0px 0px 10px 0px #2C3E50;
    box-shadow: 0px 0px 10px 0px #2C3E50;
    margin: 10px 5px 10px 5px;
  }
}